div
  h1 Login
  div
    form(ng-submit='login()')
      label Username:
      input(type='text' placeholder="username" ng-model='username')
      label Password:
      input(type='password' ng-model='password')
      div
        input(class='btn-primary' type='submit' value='OK')
      
    